<h1>Listing hotels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email address</th>
    <th>Address line1</th>
    <th>Zip code</th>
    <th>Po box</th>
    <th>Phone number</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.name %></td>
    <td><%= hotel.email_address %></td>
    <td><%= hotel.address_line1 %></td>
    <td><%= hotel.zip_code %></td>
    <td><%= hotel.po_box %></td>
    <td><%= hotel.phone_number %></td>
    <td><%= hotel.latitude %></td>
    <td><%= hotel.longitude %></td>
    <td><%= link_to 'Show', hotel %></td>
    <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
    <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hotel', new_hotel_path %>
